################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DelegateExample/obj/Debug
/.vs
/DelegateExample/bin/Debug
/MulticastDelegateExample/obj/Debug
/MulticastDelegateExample/bin/Debug
